#ball1, #ball2, #ball3, #ball4 {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #D32F2F;
  opacity: .2;
}

/* PRESENTATION */
body, html {
  height: 100%;
  background-color: #ccc;
}

.wrapper {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  max-width: 960px;
  padding: 3em 5%;
}
